<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div style="color:#f00;border:2px solid #f00;">
			<h3><%= pluralize(@user.errors.count,"error") %>prevented the user from being registered</h3>
		</div>
	<% end %>
	<div>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :email %><br>
		<%= f.email_field :email %>
	</div>
	<div>
		<%= f.label :roll %><br>
		<%= f.text_field :roll %>
	</div>
	<div>
		<%= f.label :hostel %><br>
		<%= f.text_field :hostel %>
	</div>
	<div>
		<%= f.label :room %><br>
		<%= f.number_field :room %>
	</div>
	<div>
		<%= f.label :phone %><br>
		<%= f.number_field :phone %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>