<p style="color:green;"><%= notice %></p>
<p><strong>Name</strong> : <%= @user.name %></p>
<p><strong>Email</strong> : <%= @user.email %></p>
<p><strong>Roll</strong> : <%= @user.roll %></p>
<p><strong>Hostel</strong> : <%= @user.hostel %></p>
<p><strong>Room</strong> : <%= @user.room %></p>
<p><strong>Phone</strong> : <%= @user.phone %></p>
<%= link_to 'Show all users', users_path %>